[Default-General]
prog_ver=1.7.4
auto_install=FALSE
force_composite=FALSE
cairo_image=TRUE
cairo_balloon=TRUE
cairo_clock=TRUE
magnify=100
ip_style=2
font_clock=Sans 14
font_balloon=Sans 10
cons_check_mode=0
tar_command=tar -zxf %s -C %s
tray_icon_flag=TRUE

[Default-ClockColor]
shadow_p=45056
bg_p=36864

[Default-BalloonColor]
bg_p=45056

[Default-Move]
relative_x=FALSE
offset=0
offsetp=0
ff_side=1
raise_force=FALSE
raise_kwin=FALSE
autobar2=1
no_capbar=FALSE
bar_size=0
bar_offset=0
homepos_nf=1
homepos_out=0
homepos_nb=0
home_auto=TRUE
home_auto_vanish=FALSE
home_x=0
home_y=0

[Default-Shadow]
flag=TRUE
x=2.3
y=2.3
alpha=40

[Default-Signal]
type=0

[Default-Biff]
type=0
pop-save=TRUE
ssl-mode=0
ssl-cert-skip=FALSE
ssl-nonblock=TRUE
interval=60
win-width=540
win-height=250
spam-check=TRUE
spam-mark=X-Spam-Flag: YES
pop-max-fs=40
tooltips=TRUE

[Default-Duet]
use_click=TRUE
use_random=TRUE

[Default-Sockmsg]
type=0
interval=1
expire_def=5000

[General]
prog_ver=1.7.4
auto_install=FALSE
force_composite=FALSE
cairo_image=TRUE
cairo_balloon=TRUE
cairo_clock=TRUE
magnify=46
ip_style=2
font_clock=Sans 14
font_balloon=Sans 10
cons_check_mode=0
tar_command=tar -zxf %s -C %s
tray_icon_flag=FALSE
menu=/home/samuel/.macopix/favorite.menu

[ClockColor]
shadow_p=45056
bg_p=36864

[BalloonColor]
bg_p=45056
text_r=56283
text_g=16191
text_b=25186
bg_r=10280
bg_g=10280
bg_b=10280
border_r=56283
border_g=16191
border_b=25186

[Move]
relative_x=FALSE
offset=29
offsetp=0
ff_side=1
raise_force=FALSE
raise_kwin=FALSE
autobar2=1
no_capbar=FALSE
bar_size=0
bar_offset=0
homepos_nf=1
homepos_out=0
homepos_nb=0
home_auto=TRUE
home_auto_vanish=FALSE
home_x=0
home_y=0

[Shadow]
flag=TRUE
x=2.3
y=2.3
alpha=40

[Signal]
type=0

[Biff]
type=0
pop-save=TRUE
ssl-mode=0
ssl-cert-skip=FALSE
ssl-nonblock=TRUE
interval=60
win-width=540
win-height=250
spam-check=TRUE
spam-mark=X-Spam-Flag: YES
pop-max-fs=40
tooltips=TRUE

[Duet]
use_click=TRUE
use_random=TRUE

[Sockmsg]
type=0
interval=1
expire_def=5000

